.main-container{
    max-width: 1200px;
    margin: 0 auto;
}

.content__form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:515px;
    margin: var(--spacing-36) auto;
}
.login-title{
    font-size: 42px;
    font-family: var(--alternative-font);
}
.contain-input{
    width: 350px;
}
.div-input{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.text{
    font-size: 24px;
    font-weight: 400;
}
.login-input{
    border: none;
    border-bottom: #FF3333 2px solid;
    font-size: 16px;
    color: #B9B9B9;
    outline: none;
}
.div-check{
    margin:10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.submit-btn{
    background-color: #FF3333;
    color: #FFFFFF;
    border: none;
    font-size: 12px;
    padding: 12px 25px;
    cursor: pointer;
    transition: all .4s;
}
.submit-btn:hover{
    background-color: #30343F;
}
.check-label{
    font-size: 18px;
    font-weight: 400;
    padding-left: var(--spacing-16);
}
.login-link{
    font-size: 14px;
    font-weight: 400;
    color: #1D84B5;
    margin:20px 0px 0px 0px;
}