.form__select {
    color: var(--dark-bg-solid);
    font-weight: 500;
}

.form__line::placeholder {
    color: var(--dark-bg-solid);
    font-size: 18px;
    font-weight: 400;
}

.form__textarea {
    width: 1012.06px;
    height: 194.83px;
    color: var(--dark-bg-solid);
    font-family: var(--base-font);
    font-size: 18px;
    font-weight: 400;
}

.form__textarea::placeholder {
    width: 908.44px;
    height: 127.29px;
    color: var(--dark-bg-solid);
}

.form__select:nth-child(3) {
    width: 346px;
    height: 44px;
}

.first__line {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: var(--spacing-20);
}

.form__funkopop {
    width: 150px;
    height: 173px;
    display: flex;
    margin-bottom: var(--spacing-36);
}

.form__funkos {
    width: 150px;
    height: 150px;
}

#funko1 {
    border-bottom: 1px solid var(--primary-solid);
    width: 150px;
    margin-right: var(--spacing-20);
}

#funko2 {
    border-bottom: 1px solid var(--primary-solid);
}

.form__photos-text {
    width: 150px;
    display: flex;
    justify-content: center;
    font-family: var(--alternative-font);
    font-size: 20px;
    font-weight: 500;
}

.form__button {    
    width: 175px;
    height: 44.33px;    
    background-color: var(--primary-solid);
    border: none;
    font-family: var(--base-font);
    font-size: 14px;
    font-weight: 600;
    color: var(--light-font-solid);
    transition: background .3s ease-in-out;
}

.form__button:hover {
    background-color: var(--dark-solid);
}

.form__buttons {
    padding-bottom: 20px;
}