<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Login | Funkoshop</title>
</head>
<body>
   <%- include('../partials/headerAdmin')%>
    <main class="main-container">
        <section  class="content__form">
            <h3 class="login-title"> INGRESAR A MI CUENTA </h3>
            <form action="/auth/login" method="POST" class="form__container" enctype="application/x-www-form-urlencoded">
                <div class="contain-input">
                    <div class="div-input">
                        <p class="text"><label for="email"></label>Email:</p>
                        <input type="text" name="email" class="login-input" placeholder="johndoe@correo.com" required> 
                    </div>
                    <div class="div-input">
                        <p class="text"><label for="password"></label>Contraseña:</p> 
                        <input type="password" name="password" class="login-input" placeholder="••••••••" required> 
                    </div>
                </div>
                <div class="div-check">
                    <input type="submit" value="Ingresar" class="submit-btn">
                    <div>
                        <input type="checkbox" name="accepted">
                        <label class="check-label">Recordame</label>
                    </div>
                </div>
            </form>
            <a href="#" class="login-link">Olvidé mi contraseña</a>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>

