<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register | Funkoshop</title>
</head>
<body>
    <%- include('../partials/headerAdmin')%>
    <main class="main-container">
        <section  class="content__form">
            <h3 class="login-title"> CREA TU CUENTA </h3>
            <span class="texto-login">Completa el formulario para ser parte del mundo de los Funkos</span>
            <form action="/auth/register" method="POST" class="form__container" enctype="application/x-www-form-urlencoded">
                <div class="contain-input">
                    <div class="div-input">
                        <p class="text"><label for="name"></label>Nombre:</p>
                        <input type="text" name="name" class="login-input" placeholder="John" required> 
                    </div>
                    <div class="div-input">
                        <p class="text"><label for="lastname"></label>Apellido:</p>
                        <input type="text" name="lastname" class="login-input" placeholder="Doe" required> 
                    </div>
                    <div class="div-input">
                        <p class="text"><label for="email"></label>Email:</p>
                        <input type="email" name="email" class="login-input" placeholder="johndoe@correo.com" required> 
                    </div>
                    <div class="div-input div-input-contraseña">
                        <p class="text"><label for="password"></label>Contraseña:</p> 
                        <input type="password" name="password" class="login-input login-input-contraseña" placeholder="• • • • • • • •" required>  
                    </div>
                    <div class="div-input">
                        <p class="text"><label for="confirm_password"></label>Repita Contraseña:</p> 
                        <input type="password" name="confirm_password" class="login-input login-input-contraseña" placeholder="• • • • • • • •" required> 
                    </div>
                    </div>
                </div>
                <div class="div-check">
                    <input type="submit" value="Registrar" class="submit-btn">
                    <div class="check">
                        <input type="checkbox" name="acepted" class="btn-checkbox">
                        <label class="check-label"> Acepto <span class="aceptar_tyc">términos y condiciones</span> </label>
                    </div>
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>